.block {
    border: 1px solid #ccc;
    padding: 16px;
    margin-bottom: 24px;
    border-radius: 15px;
    background: #666;
    color: white;

}

.headerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleRow {
    display: flex;
    justify-content: space-between;
}

.company {
    font-size: 1.4rem;
    font-weight: bold;
    align-items: center;
}

.title {
    font-size: 1.2rem;
}

.dates {
    color: white;
}

.location {
    font-style: italic;
}

.description ul {
    margin-left: 20px;
    list-style-type: disc;
}
